.image-1-icon3 {
  height: 110px;
  width: 116px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.text-label-environment-child {
  height: 82px;
  width: 1330px;
  position: relative;
  background-color: var(--color-darkolivegreen);
  display: none;
  z-index: 0;
}
.rectangle-shape {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkolivegreen);
  z-index: 1;
}
.urban-ecology3 {
  width: 532px;
  position: relative;
  font-weight: 800;
  white-space: pre-wrap;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 2;
}
.text-label-environment {
  align-self: stretch;
  background-color: var(--color-darkolivegreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  position: relative;
}
.text-label-environment-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.image-1-container,
.services-inner {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.image-1-container {
  margin-top: -11px;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-forestgreen-100);
  font-family: var(--font-inter);
}
.services-inner {
  align-self: stretch;
  height: 99px;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
}
.services2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.services-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xl) 0 0;
}
.at-urban-ecology1,
.blank-line3,
.blank-line4,
.blank-line5,
.from-ecological-assessments,
.join-us-in,
.whether-youre-seeking {
  margin: 0;
}
.at-urban-ecology-container {
  width: 1369px;
  position: relative;
  display: inline-block;
}
.image-2-icon {
  height: 329px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.image-2-wrapper {
  width: 1015px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 27px 0 0;
  box-sizing: border-box;
}
.at-urban-ecology-and-environme-parent,
.frame-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px 0;
  font-size: var(--font-size-8xl);
  color: var(--color-black);
}
.frame-section {
  gap: 53px 0;
  text-align: left;
  font-size: var(--font-size-18xl);
  color: var(--color-forestgreen-100);
  font-family: var(--font-inter);
}
.services-child,
.services1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl);
}
.services1 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkgreen);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-6xl);
  box-sizing: border-box;
  gap: 27px 0;
}
